name: Android Fastlane with Firebase App Distribution Workflow

on:
  push:
    branches:
      - master

jobs:
  distribute_to_firebase:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout my repo code
      uses: actions/checkout@v3 # تحديث للإصدار v3 الأسرع والأكثر استقراراً

    - name: Set up JDK 17 # يفضل استخدام 17 لإصدارات Gradle الحديثة في فلاتر
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.3" # رفع الإصدار لضمان حل مشكلة Exit Code 5 نهائياً
        bundler-cache: true
        working-directory: android
        
    - name: Build and Distribute App
      env:
        # ملاحظة هامة جداً: يجب وضع الأقواس المتعرجة المزدوجة ${{ }}
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }} # أضفت هذا لأنك تستخدمه في Fastfile
      run: |
        bundle exec fastlane android firebase_distribution
      working-directory: android